{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 ">
            <i class=" fas fab fa-python fa-2x mb-3 st i-color"></i>
            <h3 class="st">Python Development</h3>
            <p class="ss-color">Basic to intermediate level projects</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Django Development</h3>
            <p class="ss-color">Websites and API based projects</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Technical Support</p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 ">
            <i class="fas fa-chart-line fa-2x mb-3 st i-color"></i>
            <h3>Data Analysis</h3>
            <p class="ss-color">Meaning full outcome from the huge data </p>
        </div>
        <div class="col-sm-4">
            <i class="<i fas fa-chart-pie fa-2x mb-3 i-color"></i>
            <h3>Data Visualization</h3>
            <p class="ss-color">Insight of data through visualizaztion </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>DBMS</h3>
            <p class="ss-color">Management of data through SQL/Excel</p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">Hosting of websited</p>
        </div>
    </div>
</div>

{% endblock content %}